* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    background-color: black;
  }


#sf{
    text-align: center;
    padding: 10px;
}

hr{
    border-style: bold;
    border-width: 1px;
    border-color:black;
    width: 100%;

}

/* css for customer name starts here */

div h1{
    padding: 10px;

}

div input{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 35%;
    color: #999;
    margin-left: 10px;

}

#fname{
    position: absolute;
    padding: 10px;
}

#lname{

    padding: 10px;
    position: absolute;
    left: 37%;
}
/* css for customer name ends here */


/* css for address section starts here */

.adname input[name="fst"]{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 70%;
    color: #999;
    margin-left: 10px;
}

.adname input[name="sst"]{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 70%;
    color: #999;
    margin-left: 10px;
    position: relative;
    top:40px
}

.adname h6#lname{

    position: relative;
    top: 36px;
    left: 0px;
}

.adname input[name="city"]{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 25%;
    color: #999;
    margin-left: 10px;
    position: relative;
    top:50px
}

.adname input[name="state"]{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 25%;
    color: #999;
    margin-left: 10px;
    position: absolute;
    top:430px;
    left:750px;
}

.adname input[name="szip"]{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 25%;
    color: #999;
    margin-left: 10px;
    position: absolute;
    top:520px;
    left:0px;
}

.adname select[id="drop"]{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 25%;
    color: #999;
    margin-left: 10px;
    position: relative;
    top:150px;
    left:0px;
}

#cname{
    padding:10px;
    position: relative;
    top: 48px;

}

#sname{
    padding:10px;
    position: absolute;
    left: 755px;
    top: 470px;

}

#szip{

    padding:10px;
    position: absolute;
    left: 0px;
    top: 560px;


}

#cont{

    padding:10px;
    position: relative;
    left: 0px;
    top: 145px;


}
/* css for address section ends here */



.cntct input[id="phid"]{

    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 25%;
    color: #999;
    margin-left: 10px;
    position: absolute;
    top:680px;
    left:0px;
}