#red{
    color:red;
}

#blue{
    color: skyblue;
}

#orange{
    color:orange;
}


#green{
    color:green;
}

#yellow{
    color: yellow;
}

img{
    width: 200px;
    height: 200px;
}

h2{
    font-weight: normal;
}

